<header>
  <img
    src="assets/img/roberta.jpeg"
    alt="Dener Troquatter - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Roberta de Siqueira</h1>
</header>

<aside>
  <div class="container">
    <p>Software Developer | Java | Cloud Computing | AWS</p>
    <p>São Gabriel, Rio Grande do Sul, Brasil</p>
    <p>Profissional da área de tecnologia, motivada, competente, proativa, muito responsável que adora desafios novos e trabalhar em equipe trocando ideias e conhecimentos. Estou sempre em busca de oportunidade para desenvolver minhas habilidades e competências usando meu conhecimento e experiência para encontrar soluções de problemas em projetos com eficiência.</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/robertadesiqueira/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.jpeg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
            <a href="https://api.whatsapp.com/send?phone=5555999662931&text=Roberta,%20contato%20pelo%20portfólio!" target="_blank">
              <strong>Envia uma mensagem para:</strong>
              <p>WhatsApp: (55) 9 9966.2931</p>
            </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/email.png"
          alt="Ícone para contato do Email"
          width="22px"
          height="24px"
        />

        <figcaption>
            <a href="mailto:designer.roberta@gmail.com" target="_blank">
              <strong>Envia um email para:</strong>
              <p>designer.roberta@gmail.com</p>
            </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
